---
name: Anchore Image Scan
on:
  push:
    branches:
      - main
    paths:
      - "Dockerfile"
  pull_request:
    branches:
      - main
    paths:
      - "Dockerfile"
  schedule:
    - cron: "17 7 * * 5"
  workflow_dispatch:
  merge_group:

permissions:
  security-events: write
  actions: read

jobs:
  anchore-image-scan:
    name: Anchore Image Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Build the docker image
        run: docker build . --file Dockerfile --tag localbuild/testimage:latest

      - name: Run the anchore scan action
        uses: anchore/scan-action@097ccadb250f20f2511f37ea747401cc381cb66e
        id: anchore_scan
        with:
          image: "localbuild/testimage:latest"
          fail-build: false

      - name: Upload the anchore scan report
        uses: github/codeql-action/upload-sarif@f67ec12472e1b361f5e1e2085f5e6f85a57e3cd6
        with:
          sarif_file: ${{ steps.anchore_scan.outputs.sarif }}
