---
name: Anchore Image Scan
on:
  push:
    branches:
      - main
    paths:
      - "Dockerfile"
  pull_request:
    branches:
      - main
    paths:
      - "Dockerfile"
  schedule:
    - cron: "17 7 * * 5"
  workflow_dispatch:
  merge_group:

permissions:
  security-events: write
  actions: read

jobs:
  anchore-image-scan:
    name: Anchore Image Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Build the docker image
        run: docker build . --file Dockerfile --tag localbuild/testimage:latest

      - name: Run the anchore scan action
        uses: anchore/scan-action@db5ac0e55abfbfb44e289df5b2c44767378a3be1
        id: anchore_scan
        with:
          image: "localbuild/testimage:latest"
          fail-build: false

      - name: Upload the anchore scan report
        uses: github/codeql-action/upload-sarif@ab5b0e3aabf4de044f07a63754c2110d3ef2df38
        with:
          sarif_file: ${{ steps.anchore_scan.outputs.sarif }}
