---
name: Anchore Image Scan
on:
  push:
    branches:
      - main
    paths:
      - "Dockerfile"
  pull_request:
    branches:
      - main
    paths:
      - "Dockerfile"
  schedule:
    - cron: "17 7 * * 5"
  workflow_dispatch:
  merge_group:

permissions:
  security-events: write
  actions: read

jobs:
  anchore-image-scan:
    name: Anchore Image Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e

      - name: Build the docker image
        run: docker build . --file Dockerfile --tag localbuild/testimage:latest

      - name: Run the anchore scan action
        uses: anchore/scan-action@2aa9b8d4ad48dfd7ffac6aa6010f22f279049aa7
        id: anchore_scan
        with:
          image: "localbuild/testimage:latest"
          fail-build: false

      - name: Upload the anchore scan report
        uses: github/codeql-action/upload-sarif@1d9f357d018e5801d9d25e32220badc298aa1c17
        with:
          sarif_file: ${{ steps.anchore_scan.outputs.sarif }}
