---
name: Anchore Image Scan
on:
  push:
    branches:
      - main
    paths:
      - "Dockerfile"
  pull_request:
    branches:
      - main
    paths:
      - "Dockerfile"
  schedule:
    - cron: "17 7 * * 5"
  workflow_dispatch:
  merge_group:

permissions:
  security-events: write
  actions: read

jobs:
  anchore-image-scan:
    name: Anchore Image Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49

      - name: Build the docker image
        run: docker build . --file Dockerfile --tag localbuild/testimage:latest

      - name: Run the anchore scan action
        uses: anchore/scan-action@62b74fb7bb810d2c45b1865f47a77655621862a5
        id: anchore_scan
        with:
          image: "localbuild/testimage:latest"
          fail-build: false

      - name: Upload the anchore scan report
        uses: github/codeql-action/upload-sarif@0fa411efd0628aefdf9d03a0faa20a1e0edafc4a
        with:
          sarif_file: ${{ steps.anchore_scan.outputs.sarif }}
