---
name: Dependency Review
on:
  pull_request:
    paths:
      - "action.yml"
      - "Dockerfile"
      - ".github/workflows/**"
  workflow_dispatch:
  merge_group:

permissions:
  contents: read

jobs:
  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5

      - name: Run the dependency review action
        uses: actions/dependency-review-action@774d14bf50b7a2e2460f9f49e25c52503ecab125
        with:
          allow-licenses: MIT
