---
name: Dependency Review
on:
  pull_request:
    paths:
      - "action.yml"
      - "Dockerfile"
      - ".github/workflows/**"
  workflow_dispatch:
  merge_group:

permissions:
  contents: read

jobs:
  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e

      - name: Run the dependency review action
        uses: actions/dependency-review-action@4004cfa3a2610fa9f3554e1e5079fe14c6d26765
        with:
          allow-licenses: MIT
