---
name: Dependency Review
on:
  pull_request:
    paths:
      - "action.yml"
      - "Dockerfile"
      - ".github/workflows/**"
  workflow_dispatch:
  merge_group:

permissions:
  contents: read

jobs:
  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Run the dependency review action
        uses: actions/dependency-review-action@05fe4576374b728f0c523d6a13d64c25081e0803
        with:
          allow-licenses: MIT
