---
name: Dependency Review
on:
  pull_request:
    paths:
      - "action.yml"
      - "Dockerfile"
      - ".github/workflows/**"
  workflow_dispatch:
  merge_group:

permissions:
  contents: read

jobs:
  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49

      - name: Run the dependency review action
        uses: actions/dependency-review-action@98884d411b0f1c583e5ee579e7e897d4623019c2
        with:
          allow-licenses: MIT
