---
name: Dependency Review
on:
  pull_request:
    paths:
      - "action.yml"
      - "Dockerfile"
      - ".github/workflows/**"
  workflow_dispatch:
  merge_group:

permissions:
  contents: read

jobs:
  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Run the dependency review action
        uses: actions/dependency-review-action@f0033fc4d6972851b5170177d58a8da79811a797
        with:
          allow-licenses: MIT
