---
name: Dockerfile Lint
on:
  pull_request:
    paths:
      - "Dockerfile"
  merge_group:

permissions:
  contents: read

jobs:
  dockerfile-lint:
    name: Dockerfile Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49

      - name: Run the hadolint action
        uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5
