---
name: GH Action Lint
on:
  pull_request:
    paths:
      - ".github/workflows/**"
  merge_group:

permissions:
  contents: read

jobs:
  gh-action-lint:
    name: GH Action Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@c2d88d3ecc89a9ef08eebf45d9637801dcee7eb5

      - name: Run the actionlint action
        uses: reviewdog/action-actionlint@186764204cf02529b48cf1f75ddd7c74c65989f4
