---
name: GH Action Lint
on:
  pull_request:
    paths:
      - ".github/workflows/**"
  merge_group:

permissions:
  contents: read

jobs:
  gh-action-lint:
    name: GH Action Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Run the actionlint action
        uses: reviewdog/action-actionlint@44b7d68cb1c44552956a1ea81e9b740f4637239f
