---
name: Markdown Lint
on:
  pull_request:
    paths:
      - "*.md"
      - ".github/*.md"
      - ".github/ISSUE_TEMPLATE/**"
  merge_group:

permissions:
  contents: read

jobs:
  markdown-lint:
    name: Markdown Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Run the markdownlint action
        uses: DavidAnson/markdownlint-cli2-action@3575d252479e6880664c22c8d81ff0dc79ef5c22
