---
name: Markdown Lint
on:
  pull_request:
    paths:
      - "*.md"
      - ".github/*.md"
      - ".github/ISSUE_TEMPLATE/**"
  merge_group:

permissions:
  contents: read

jobs:
  markdown-lint:
    name: Markdown Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Run the markdownlint action
        uses: DavidAnson/markdownlint-cli2-action@bfd3fdc8e281653c43afbfbf5f4b31bf25ba1109
