---
name: Markdown Lint
on:
  pull_request:
    paths:
      - "*.md"
      - ".github/*.md"
      - ".github/ISSUE_TEMPLATE/**"
  merge_group:

permissions:
  contents: read

jobs:
  markdown-lint:
    name: Markdown Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493

      - name: Run the markdownlint action
        uses: DavidAnson/markdownlint-cli2-action@15b21a00afd06ccde3744388f16cbd483012b12d
