---
name: Release
on:
  push:
    branches:
      - main
    paths:
      - "Dockerfile"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@064fe7f3312418007dea2b49a19844a9ee378f49
        with:
          fetch-depth: 0

      - name: Run the github-tag action
        uses: anothrNick/github-tag-action@4ed44965e0db8dab2b466a16da04aec3cc312fd8
        id: version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          DEFAULT_BUMP: patch
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}

      - name: Generate the major version tag
        id: major-version
        if: ${{ steps.version.outputs.new_tag }}
        uses: actions/github-script@450193c5abd4cdb17ba9f3ffcfe8f635c4bb6c2a
        with:
          script: |
            core.setOutput('tag', '${{ steps.version.outputs.new_tag }}'.split('.')[0])

      - name: Push the major version tag
        if: ${{ steps.version.outputs.new_tag }}
        run: |
          git tag --force ${{ steps.major-version.outputs.tag }}
          git push origin ${{ steps.major-version.outputs.tag }} --force

      - name: Get the current date
        if: ${{ steps.version.outputs.new_tag }}
        id: date
        run: echo "date=$(date --iso-8601)" >> "$GITHUB_OUTPUT"

      - name: Get the shoutrrr version
        if: ${{ steps.version.outputs.new_tag }}
        id: shoutrrr
        run: echo "version=$(docker build --iidfile ${{ runner.temp }}/iidfile - < Dockerfile 2> /dev/null && docker run --rm "$(cat ${{ runner.temp }}/iidfile)" --version)" >> "$GITHUB_OUTPUT"

      - name: Generate the full changelog
        if: ${{ steps.version.outputs.new_tag }}
        run: npx conventional-changelog-cli --release-count=0 --preset=eslint --outfile="${{ runner.temp }}/FullChangeLog.md"

      - name: Create the major version release
        if: ${{ steps.version.outputs.new_tag }}
        uses: ncipollo/release-action@411d95d6a352b94952f1b6c64804b93c251f7db9
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
          tag: ${{ steps.major-version.outputs.tag }}
          name: ${{ steps.version.outputs.new_tag }} (${{ steps.date.outputs.date }} / ${{ steps.shoutrrr.outputs.version }})
          bodyFile: ${{ runner.temp }}/FullChangeLog.md

      - name: Generate the partial changelog
        if: ${{ steps.version.outputs.new_tag }}
        run: npx conventional-changelog-cli --release-count=2 --outfile="${{ runner.temp }}/ChangeLog.md"

      - name: Create the minor version release
        if: ${{ steps.version.outputs.new_tag }}
        uses: ncipollo/release-action@411d95d6a352b94952f1b6c64804b93c251f7db9
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.version.outputs.new_tag }}
          name: ${{ steps.version.outputs.new_tag }} (${{ steps.shoutrrr.outputs.version }})
          bodyFile: ${{ runner.temp }}/ChangeLog.md
