---
name: YAML Lint
on:
  pull_request:
    paths:
      - ".yamllint"
      - "action.yml"
      - ".github/workflows/**"
      - ".github/ISSUE_TEMPLATE/config.yml"
  merge_group:

permissions:
  contents: read

jobs:
  yaml-lint:
    name: YAML Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Run the yamllint action
        uses: frenck/action-yamllint@db6dd8f58270fb7ed4ff087b08548308130a5ad5
        with:
          strict: true
