---
name: YAML Lint
on:
  pull_request:
    paths:
      - ".yamllint"
      - "action.yml"
      - ".github/workflows/**"
      - ".github/ISSUE_TEMPLATE/config.yml"
  merge_group:

permissions:
  contents: read

jobs:
  yaml-lint:
    name: YAML Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Run the yamllint action
        uses: frenck/action-yamllint@3733852fadd3a79d1e15c466f716695093c88ad3
        with:
          strict: true
